<div class="container"
  fxLayout="column"
  fxLayoutGap="10px"> <div fxFlex>
    <div> <h3>A Propos</h3> <hr> </div>
 </div>
  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Description</h2>
        <p>Ce restaurant chic de la ville est l'un des meilleurs du pays pour les fruits de mer</p>
      </div>
    </div>
  </div>
   <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>
	“Les repas sont les lieux innocents de la société.” 
	</h3>
        <footer>De Jean-Baptiste Massillon </footer>
      </blockquote>
    </mat-card>
  </div>
</div>