$light:#9575CD;
@mixin zreo-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
 
}
.inforestau{
    @include zreo-margin(70px, 30px);
    background: $light;
    color: floralwhite;
    min-height: 150px;
    padding: 0;
}

$background-moredark: #4527A0;
.active {
background: $background-moredark;
}