/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';//import fichier variables hna
@import '../node_modules/font-awesome/css/font-awesome';
body{
padding: 0;
margin: 0;
font-family: Roboto, sans-serif;

}
.container{
    margin: 0px;
    display:flex;
    }
    $background-dark: #512DA8;
$accent-color: #FFC107;
.background-primary{
   background-color: $background-dark!important;
 }
.background-accent{
   background-color: $accent-color!important;
 }
.text-floral-white{
   color: floralwhite!important;
 }
.flex-spacer{
   flex: 1 1 auto;
 }
 
    